<template name="music">
    <div class="page" data-page="music">

        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <a href="#" class="right-menu link icon-only open-panel"><i class="icon icon-bars"></i></a>

                <div class="center">Music</div>
            </div>
        </div>
        <!-- /End of Top Navbar-->

        <!-- Now we need additional "navbar-through" and "toolbar-through" classes on Pages -->
        <div class="pages navbar-through toolbar-through">
            <div data-page="index" class="page">
                <div class="page-content">
                    <!-- content goes here -->
                </div>

            </div>
        </div>
    </div>
</template>