.menu-header{
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 20px;
    color: #88898C;
    font-size: 16px;
}

.menu-item{
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 0 3px;
    padding-left: 32px;
    min-height: 20px;
    line-height: 40px;
    font-size: 14px;
    clear: both;
    color:black !important;
}


